.logo {
  height: 32px;
  margin: 16px;
  box-shadow: 0 0 20px rgb(192 219 255 / 15%), 0 0 20px rgb(65 120 255 / 24%);
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(to right, #30cfd0, #30cfd0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes shake-small {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shake-large {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake-small {
  animation: shake-small 1s infinite; /* สร้างการเคลื่อนไหวโดยใช้ animation ที่กำหนดไว้ */
}

.shake-large {
  animation: shake-large 1s infinite; /* สร้างการเคลื่อนไหวโดยใช้ animation ที่กำหนดไว้ */
}

